<div class="transcations-list">
        <div class="header">
            <div class="icon-briefcase">
                <img src="/assets/images/icons/briefcase.png" alt="Icon briefcase">
            </div>
            <h2>Recent transactions</h2>
        </div>
        <div class="filters row">
            <div class="search col-12 col-lg-12 off-lg-3 col-xl-5">
                <input class="peachtree" [(ngModel)]="textSearch" (ngModelChange)="searchTransaction(textSearch)"
                placeholder="Search by typing (name, transaction type)">
                <button class="clearSearch" (click)="textSearch='';searchTransaction(textSearch)">x</button>
            </div>
            <div class="sortby col-1 col-md-3 col-lg-4 col-xl-1">
                <span>Sort by</span>
            </div>
            <div class="buttons col-10 col-md-9 col-lg-8 col-xl-6">
                <button [class.descend]="sortingControl.dateDesc" [class.active]="sortingControl.active=='date'" 
                class="filtrButton" (click)="sortByDate(sortingControl.dateDesc)">Date</button>
                
                <button [class.descend]="sortingControl.beneficiaryDesc" [class.active]="sortingControl.active=='beneficiary'" 
                class="filtrButton" (click)="sortByBeneficiary(sortingControl.beneficiaryDesc)">Beneficiary</button>
                
                <button  [class.descend]="sortingControl.amountDesc" [class.active]="sortingControl.active=='amount'"  
                class="filtrButton" (click)="sortByAmount(sortingControl.amountDesc)">Amount</button>
            </div>
        </div>
        <ul *ngIf="transactions">
            <div>
                <li *ngFor="let transaction of transactions">
                    <app-transaction-one [transaction]="transaction"></app-transaction-one>
                </li>
            </div>
        </ul>
</div>
